@using WeighingMarbles.ViewModels
@model List<MarbleWeighing>
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <br/>
    Test with @Model.FirstOrDefault().StartingList.Count Marbles solved with @Model.Count Weighings
    <br/>
    @{var x = 1;}
    @foreach (MarbleWeighing marbleList in Model)
    {
        

        <br/>
        <div>Iteration @x: list of remaining marbles</div>
        foreach (var marble in marbleList.StartingList)
        {
            <div>Marble Id: @marble.ItemNumber / Marble Weight: @marble.Weight</div>
        }

        x++;

    }


</div>