@using WeighingMarbles.ViewModels
@model List<MarbleWeighing>
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <br/>
    Test with @Model.FirstOrDefault().StartingList.Count Marbles solved with @Model.Count Weighings
    <br/>
    @foreach (MarbleWeighing marbleList in Model)
    {
        <br/>
        <div>New Iteration: list of remaining marbles</div>
        foreach (var marble in marbleList.StartingList)
        {
            <div>@marble.ItemNumber / @marble.Weight</div>
        }


    }


</div>